<script>
export default {
  name: "LoaderCard",
};
</script>
<template>
  <div class="mx-auto">
    <v-container fluid>
      <v-row>
        <v-skeleton-loader
          :width="250"
          class="ma-3"
          type="card-avatar, text, button"
          v-for="index in 6"
          :key="index"
        ></v-skeleton-loader>
        <v-spacer></v-spacer>
      </v-row>
    </v-container>
  </div>
</template>
