<script>
import { ref } from "vue";
import { storeToRefs } from "pinia";
import yayasanStores from "@/stores/user/yayasan-info.store";
import useToastStore from "@/stores/common/toast.store";

// Component
import CardCharity from "@/components/products/CardCharity";
import LoaderCard from "@/components/loader/LoaderCard";
import FormActivitasOrg from "@/components/users/FormActivityOrganization";

export default {
  name: "ActivitasOrg",
  props: ["data", "title"],
  components: {
    CardCharity,
    LoaderCard,
    FormActivitasOrg,
  },
  setup(props) {
    const yayasanStore = yayasanStores();
    const toastStore = useToastStore();

    const propsActivity = ref(props.data);
    const {
      activityState,
      totalActivityState,
      // idActivityState,
      editActivityState,
    } = storeToRefs(yayasanStore);

    const totalActivity = ref(totalActivityState);
    const editActivity = ref(editActivityState);
    const activityData = ref(activityState);
    const isLoading = ref(false);

    return {
      yayasanStore,
      totalActivity,
      activityData,
      isLoading,
      toastStore,
      propsActivity,
      editActivity,
    };
  },
  async mounted() {
    await this.fetchActivity();
  },
  methods: {
    async fetchActivity() {
      try {
        this.isLoading = true;
        await this.yayasanStore.setActivity(this.propsActivity);
        await this.yayasanStore.setTotalActivity(this.propsActivity.length);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      } finally {
        setTimeout(() => {
          this.isLoading = false;
        }, 1000);
      }
    },
  },
};
</script>
<template>
  <div class="activity">
    <div class="mx-auto" v-if="this.editActivity === false">
      <LoaderCard v-if="this.isLoading === true" />
      <CardCharity
        v-if="this.isLoading === false"
        :charityData="this.activityData"
        :title="'Activitas Yayasan'"
        :totalItem="this.totalActivity"
      />
    </div>
    <FormActivitasOrg v-if="this.editActivity === true" />
  </div>
</template>
