<script>
import { reactive, computed, ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required, email, helpers } from "@vuelidate/validators";
import userStores from "@/stores/user/users.store";
import useToastStore from "@/stores/common/toast.store";
export default {
  name: "FormUserProfile",
  setup() {
    const userStore = userStores();
    const toastStore = useToastStore();
    const formData = reactive({
      id: "",
      fullName: "",
      email: "",
      phone: "",
      alamat: "",
      files: null,
    });
    const loading = ref(false);
    const fileError = reactive({
      error: false,
      message: "Silahkan anda upload file terlebih dahulu",
    });
    const noSpecialCharacters = helpers.withMessage(
      "No special characters allowed.",
      (value) => !value || /^[a-zA-Z\s,].*$/.test(value)
    );

    const validFileType = helpers.withMessage(
      "Invalid file type. Only images are allowed.",
      (value) =>
        !value ||
        (value && ["image/jpeg", "image/png", "image/jpg"].includes(value.type))
    );

    const validFileSize = helpers.withMessage(
      "File size should be less than 2MB.",
      (value) => !value || (value && value.size < 1 * 1024 * 1024)
    );
    const rules = computed(() => {
      return {
        email: { required, email },
        fullName: {
          required,
          noSpecialCharacters,
        },
        phone: { required },
        alamat: { required, noSpecialCharacters },
        files: { validFileType, validFileSize },
      };
    });
    const v$ = useVuelidate(rules, formData);

    return { v$, formData, loading, fileError, userStore, toastStore };
  },
  async mounted() {
    const user = await this.userInfo();
    await this.fetchUser(user);
  },
  methods: {
    async fetchUser(data) {
      this.formData.id = data.id;
      this.formData.email = data.email;
      this.formData.fullName = data.fullname;
      this.formData.phone = data.phone;
      this.formData.alamat = data.address;
    },
    async userInfo() {
      const user = window.localStorage.getItem("userInfo");
      if (user) {
        return JSON.parse(user);
      } else {
        return false;
      }
    },
    async handleFileChange() {
      this.formData.files = this.$refs.file.files[0];
    },
    async submit() {
      try {
        this.loading = !this.loading;
        await this.v$.$validate();
        const error = this.v$.$error;
        if (error == true) {
          const msg = "Validation Failed";
          return this.toastStore.formHandler(msg);
        }
        const update = await this.userStore.putUserInfo(this.formData);
        return this.toastStore.httpSuccess(update);
      } catch (err) {
        if (err.isAxiosError) {
          const resTmp = err.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(err);
        }
      } finally {
        setTimeout(() => (this.loading = false), 2000);
      }
    },
  },
};
</script>
<template>
  <v-container>
    <v-row>
      <v-card
        class="mx-auto my-8 mt-10 card-search pa-5"
        color="#00A2AD"
        width="900"
        elevation="16"
      >
        <v-card-item>
          <v-card-title>
            <div class="text-h5"><span class="p-5 m-5">Profile Saya</span></div>
            <div class="text-subtitle-1">
              <span class="p-5 m-5"
                >Kelola Informasi Profile Anda Untuk Mengontrol, Melindungi Dan
                Mengamankan Akun Anda</span
              >
            </div>
            <v-divider :thickness="3" class="border-opacity-100"></v-divider>
          </v-card-title>
          <v-container>
            <v-row>
              <v-sheet width="500" color="transparent" class="search mt-5">
                <v-form validate-on="submit lazy pa-5" @submit.prevent="submit">
                  <div v-if="v$.email.$error" class="ma-5 mb-0 text-left">
                    <span
                      v-for="error in v$.email.$errors"
                      :key="error.$uid"
                      :style="{ color: 'red' }"
                    >
                      {{ error.$message }}
                    </span>
                  </div>
                  <v-text-field
                    v-model="formData.email"
                    variant="solo"
                    density="compact"
                    prepend-inner-icon="mdi-account"
                    label="Email"
                    readonly
                  ></v-text-field>
                  <div v-if="v$.fullName.$error" class="ma-5 mb-0 text-left">
                    <span
                      v-for="error in v$.fullName.$errors"
                      :key="error.$uid"
                      :style="{ color: 'red' }"
                    >
                      {{ error.$message }}
                    </span>
                  </div>
                  <v-text-field
                    v-model="formData.fullName"
                    variant="solo"
                    density="compact"
                    prepend-inner-icon="mdi-account"
                    label="Fullname"
                  ></v-text-field>
                  <div v-if="v$.phone.$error" class="ma-5 mb-0 text-left">
                    <span
                      v-for="error in v$.phone.$errors"
                      :key="error.$uid"
                      :style="{ color: 'red' }"
                    >
                      {{ error.$message }}
                    </span>
                  </div>
                  <v-text-field
                    v-model="formData.phone"
                    variant="solo"
                    density="compact"
                    prepend-inner-icon="mdi-phone"
                    label="Phone"
                  ></v-text-field>
                  <div v-if="v$.alamat.$error" class="ma-5 mb-0 text-left">
                    <span
                      v-for="error in v$.alamat.$errors"
                      :key="error.$uid"
                      :style="{ color: 'red' }"
                    >
                      {{ error.$message }}
                    </span>
                  </div>
                  <v-textarea
                    v-model="formData.alamat"
                    variant="solo"
                    density="compact"
                    type="text"
                    label="Alamat Lengkap Anda"
                  ></v-textarea>

                  <div v-if="v$.files.$error" class="ma-5 mb-0 text-left">
                    <span
                      v-for="error in v$.files.$errors"
                      :key="error.$uid"
                      :style="{ color: 'red' }"
                    >
                      {{ error.$message }}
                    </span>
                  </div>
                  <v-list>
                    <v-list-item> Upload Profile </v-list-item>
                    <v-list-item>
                      <input
                        type="file"
                        ref="file"
                        id="file-uploaded"
                        @change="handleFileChange"
                      />
                    </v-list-item>
                  </v-list>

                  <v-btn
                    :loading="loading"
                    type="submit"
                    rounded="md"
                    class="mt-5 pa-2 me-4"
                    text="Submit"
                    :style="{ 'background-color': '#DF0012', color: 'white' }"
                  ></v-btn>
                </v-form>
              </v-sheet>
            </v-row>
          </v-container>
        </v-card-item>
      </v-card>
    </v-row>
  </v-container>
</template>
