<script>
import { ref } from "vue";
import { storeToRefs } from "pinia";
import yayasanStores from "@/stores/user/yayasan-info.store";
import productStores from "@/stores/products/products.store";
import useToastStore from "@/stores/common/toast.store";

// Component
import CardCharity from "@/components/products/CardCharity";
import LoaderCard from "@/components/loader/LoaderCard";
import FormProductOrg from "@/components/users/FormProductOrganization";

export default {
  name: "ProductOrg",
  props: ["data", "title"],
  components: {
    CardCharity,
    LoaderCard,
    FormProductOrg,
  },
  setup(props) {
    const yayasanStore = yayasanStores();
    const productStore = productStores();
    const toastStore = useToastStore();

    const propsProduct = ref(props.data);
    const { productState, totalProductState, editActivityState } =
      storeToRefs(yayasanStore);

    const totalProduct = ref(totalProductState);
    const editActivity = ref(editActivityState);
    const productData = ref(productState);
    const isLoading = ref(false);

    return {
      yayasanStore,
      totalProduct,
      productData,
      isLoading,
      toastStore,
      propsProduct,
      editActivity,
      productStore,
    };
  },
  async mounted() {
    await this.fetchProduct();
  },
  methods: {
    async fetchProduct() {
      try {
        this.isLoading = true;
        const initProduct = await this.productStore.processDataProduct(
          this.propsProduct
        );
        await this.yayasanStore.setProduct(initProduct);
        await this.yayasanStore.setTotalProduct(this.propsProduct.length);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      } finally {
        setTimeout(() => {
          this.isLoading = false;
        }, 1000);
      }
    },
  },
};
</script>
<template>
  <div class="product">
    <div class="mx-auto" v-if="this.editActivity === false">
      <LoaderCard v-if="this.isLoading === true" />
      <CardCharity
        v-if="this.isLoading === false"
        :charityData="this.productData"
        :title="'Product Yayasan'"
        :totalItem="this.totalProduct"
      />
    </div>
    <FormProductOrg v-if="this.editActivity === true" />
  </div>
</template>
