<script>
import { ref } from "vue";
import { mapWritableState, storeToRefs } from "pinia";
import charityStores from "@/stores/charity/charity.store";
import useToastStore from "@/stores/common/toast.store";
import productStores from "@/stores/products/products.store";
import { useRoute } from "vue-router";
export default {
  setup() {
    const route = useRoute();
    const id = route.params.id;
    const charityStore = charityStores();
    const toastStore = useToastStore();
    const productStore = productStores();

    //charity Getters
    const { detailCharity } = storeToRefs(charityStore);

    const details = ref({});
    const product = ref();
    const aktivitas = ref();
    const defaultIMG = require("@/assets/icons/AKSIRASA-LOGO.svg");
    const orgIMG = ref("");
    const orgCover = ref("");
    const actCover = ref("");
    const support = ref(false);
    const isMobile = ref(false);

    return {
      charityStore,
      toastStore,
      productStore,
      id,
      details,
      detailCharity,
      defaultIMG,
      orgIMG,
      orgCover,
      support,
      product,
      isMobile,
      aktivitas,
      actCover,
    };
  },
  computed: {
    ...mapWritableState(charityStores, ["detailCharity"]),
  },
  watch: {
    async detailCharity() {
      try {
        this.details = this.detailCharity;
        if (
          this.details.logo_yayasan.url &&
          this.details.logo_yayasan.url !== null
        ) {
          this.orgIMG = this.details.logo_yayasan.url;
        } else {
          this.orgIMG = null;
        }
        if (
          this.details.image.cover.url &&
          this.details.image.cover.url !== null
        ) {
          this.orgCover = this.details.image.cover.url;
        } else {
          this.orgCover = null;
        }
        const processedProduct = await this.productStore.processDataProduct(
          this.details.product
        );
        this.product = processedProduct;
        this.aktivitas = this.details.aktivitas;
        console.log({ product: this.product });
        console.log({ aktivitas: this.aktivitas });
        // if (this.aktivitas.image.url && this.aktivitas.image.url !== null) {
        //   this.actCover = this.aktivitas.image.url;
        // } else {
        //   this.actCover = null;
        // }
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      }
    },
  },
  async mounted() {
    // Periksa ukuran layar saat komponen dimuat
    await this.checkScreenSize();

    // Periksa ukuran layar saat window diubah ukurannya
    window.addEventListener("resize", this.checkScreenSize);
    await this.getDetailCharity(this.id);
    console.log({ ResultId: this.details });
  },
  beforeUnmount() {
    // Hapus event listener saat komponen dihancurkan
    window.removeEventListener("resize", this.checkScreenSize);
  },
  methods: {
    async getDetailCharity(id) {
      try {
        const getDetail = await this.charityStore.getCharityDetail(id);
        await this.charityStore.setDetailsItem(getDetail.data.data);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      }
    },
    async goToCharityPage() {
      return this.$router.push({
        name: "charity-catalog",
        path: "/charity/catalog",
      });
    },
    async checkScreenSize() {
      // Periksa lebar layar dan atur nilai isMobile sesuai
      this.isMobile = window.innerWidth <= 703;
    },
  },
};
</script>
<template>
  <div v-if="!isMobile" class="isDesktop">
    <v-container fluid>
      <v-row class="mt-5">
        <v-col cols="8">
          <v-card>
            <v-img :src="orgCover" cover></v-img>
            <v-card-text>
              <div class="my-4 text-subtitle-1">
                <v-avatar
                  v-if="orgIMG !== null"
                  style="background-color: #ffff"
                >
                  <img class="icon" :src="orgIMG" alt="Avatar" cover />
                </v-avatar>
                <v-avatar v-else style="background-color: #ffff">
                  <img
                    v-svg-inline
                    class="icon"
                    :src="defaultIMG"
                    alt="Avatar"
                    cover
                /></v-avatar>
                <strong style="font-size: 14px"
                  >{{ details.fullname_organisasi }}
                </strong>
                <strong style="font-size: 14px">
                  <div v-if="details.status === true">Verified By Aksirasa</div>
                  <div v-else>Not Verified</div>
                </strong>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card
            class="px-5 pa-10"
            style="background-color: hsl(184, 100%, 34%)"
          >
            <v-card-title class="text-white">
              <strong>{{ details.fullname_organisasi }}</strong>
            </v-card-title>
            <v-form>
              <v-text-field
                label="Nominal Donasi"
                variant="solo"
                density="compact"
                type="text"
              ></v-text-field>
              <v-btn
                :style="{ 'background-color': '#DF0012', color: 'white' }"
                rounded="xl"
                prepend-icon
              >
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon"
                    width="20"
                    height="20"
                    src="../assets/icons/OrganDonationIcon.svg"
                  />
                </template>
                Donasi Sekarang
              </v-btn>
            </v-form>
            <div
              class="text-subtitle-1 text-left mt-10"
              @click="support = !support"
            >
              <strong class="text-white">
                Support Kami
                <v-icon
                  :icon="support ? 'mdi-chevron-up' : 'mdi-chevron-down'"
                ></v-icon>
              </strong>
            </div>
            <v-expand-transition>
              <div v-show="support">
                <v-card class="px-5 pa-10 mt-4" color="#E6F8E6" dark>
                  <v-text-field
                    label="Nominal"
                    variant="solo"
                    density="compact"
                    type="text"
                  ></v-text-field>
                  <v-btn
                    :style="{ 'background-color': '#DF0012', color: 'white' }"
                    rounded="xl"
                    >Support</v-btn
                  >
                </v-card>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card class="pa-10 card-about" :style="{ 'border-color': 'black' }">
            <v-card-title>Tentang Organisasi</v-card-title>
            <v-card-text>
              <div v-html="details.tentang_organisasi"></div>
            </v-card-text>
            <v-card-actions>
              <v-btn icon>
                <v-icon>mdi-facebook</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-instagram</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-twitter</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card class="pa-10">
            <v-card-title>Aktivitas</v-card-title>
            <v-card-text>
              <v-row v-if="aktivitas && aktivitas.length > 0">
                <v-card
                  v-for="activity in aktivitas"
                  :key="activity.id"
                  class="ma-3"
                  style="margin: 10px 5px 0px 50px"
                  max-width="300"
                  :height="360"
                >
                  <v-img
                    class="pa-5"
                    :width="300"
                    :height="200"
                    :src="activity.image.url"
                    cover
                  ></v-img>

                  <v-card-item>
                    <v-card-title
                      style="font-size: 13px; font-weight: bolder"
                      >{{ activity.judul_berita }}</v-card-title
                    >

                    <v-card-subtitle>
                      <span class="me-1">{{ activity.lokasi_provinsi }}</span>
                    </v-card-subtitle>
                  </v-card-item>

                  <div class="my-4 text-subtitle-1">
                    <v-avatar
                      v-if="
                        activity.owner.logo.url &&
                        activity.owner.logo.url != null
                      "
                      style="background-color: #ffff"
                    >
                      <img
                        class="icon"
                        :src="activity.owner.logo.url"
                        alt="Avatar"
                        cover
                    /></v-avatar>
                    <v-avatar v-else style="background-color: #ffff">
                      <img
                        v-svg-inline
                        class="icon"
                        :src="defaultIMG"
                        alt="Avatar"
                        cover
                    /></v-avatar>
                    <strong style="font-size: 14px">{{
                      activity.owner.fullname_organisasi
                    }}</strong>
                  </div>
                </v-card>
                <v-spacer></v-spacer>
              </v-row>
              <v-row v-else>
                <div class="mx-auto">
                  <img
                    v-svg-inline
                    class="icon ml-10"
                    :width="250"
                    src="../assets/icons/NoDataFound.svg"
                  />
                </div>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card class="pa-10">
            <v-card-title>Product Organisasi</v-card-title>
            <v-card-text>
              <v-row v-if="product && product.length > 0">
                <v-col cols="3" v-for="list in product" :key="list.id">
                  <v-card
                    class="ma-3"
                    style="margin: 10px 5px 0px 50px"
                    max-width="250"
                  >
                    <div v-if="list.image && list.image.length > 0">
                      <v-img
                        class="pa-5"
                        :width="500"
                        :src="list.image[0].link"
                        aspect-ratio="1"
                      ></v-img>
                    </div>
                    <div v-else>
                      <img
                        v-svg-inline
                        class="icon"
                        src="../assets/icons/DefaultPhotoProduct.svg"
                        alt="Avatar"
                        cover
                      />
                    </div>

                    <v-card-item>
                      <v-card-title style="font-size: 15px">{{
                        list.judul_product
                      }}</v-card-title>

                      <v-card-subtitle>
                        <span class="me-1">{{ list.owner.provinsi }}</span>
                      </v-card-subtitle>
                    </v-card-item>

                    <v-card-text>
                      <v-row v-if="list.rating" align="center" class="mx-0">
                        <v-rating
                          :model-value="list.rating.rata"
                          color="amber"
                          density="compact"
                          size="small"
                          half-increments
                          readonly
                        ></v-rating>

                        <div class="text-grey ms-4">
                          {{ list.rating.rata }} ({{ list.rating.sum }})
                        </div>
                      </v-row>

                      <div class="my-4 text-subtitle-1">
                        <v-avatar
                          v-if="list.owner.logo && list.owner.logo.length > 0"
                          style="background-color: #ffff"
                        >
                          <img
                            v-svg-inline
                            class="icon"
                            :src="list.owner.logo.url"
                            alt="Avatar"
                            cover
                        /></v-avatar>
                        <v-avatar v-else style="background-color: #ffff">
                          <img
                            v-svg-inline
                            class="icon"
                            :src="defaultIMG"
                            alt="Avatar"
                            cover
                        /></v-avatar>
                        <strong style="font-size: 14px">{{
                          list.owner.fullname_organisasi
                        }}</strong>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row v-else>
                <div class="mx-auto">
                  <img
                    v-svg-inline
                    class="icon ml-10"
                    :width="250"
                    src="../assets/icons/NoDataFound.svg"
                  />
                </div>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <div v-if="isMobile" class="isMobile">
    <v-container fluid>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card>
            <v-img :src="orgCover" cover></v-img>
            <v-card-text>
              <div
                class="my-4 text-subtitle-1 d-flex flex-column align-items-center"
              >
                <v-avatar
                  v-if="orgIMG !== null"
                  style="background-color: #ffff"
                >
                  <img class="icon" :src="orgIMG" alt="Avatar" cover />
                </v-avatar>
                <v-avatar v-else style="background-color: #ffff">
                  <img
                    v-svg-inline
                    class="icon"
                    :src="defaultIMG"
                    alt="Avatar"
                    cover
                /></v-avatar>
                <strong style="font-size: 14px">{{
                  details.fullname_organisasi
                }}</strong>
                <strong style="font-size: 14px">
                  <div v-if="details.status === true">Verified By Aksirasa</div>
                  <div v-else>Not Verified</div>
                </strong>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card
            class="px-3 pa-5"
            style="background-color: hsl(184, 100%, 34%)"
          >
            <v-card-title class="text-white">
              <strong>{{ details.fullname_organisasi }}</strong>
            </v-card-title>
            <v-form>
              <v-text-field
                label="Nominal Donasi"
                variant="solo"
                density="compact"
                type="text"
              ></v-text-field>
              <v-btn
                :style="{ 'background-color': '#DF0012', color: 'white' }"
                rounded="xl"
                prepend-icon
              >
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon"
                    width="20"
                    height="20"
                    src="../assets/icons/OrganDonationIcon.svg"
                  />
                </template>
                Donasi Sekarang
              </v-btn>
            </v-form>
            <div
              class="text-subtitle-1 text-left mt-10"
              @click="support = !support"
            >
              <strong class="text-white">
                Support Kami
                <v-icon
                  :icon="support ? 'mdi-chevron-up' : 'mdi-chevron-down'"
                ></v-icon>
              </strong>
            </div>
            <v-expand-transition>
              <div v-show="support">
                <v-card class="px-3 pa-5 mt-4" color="#E6F8E6" dark>
                  <v-text-field
                    label="Nominal"
                    variant="solo"
                    density="compact"
                    type="text"
                  ></v-text-field>
                  <v-btn
                    :style="{ 'background-color': '#DF0012', color: 'white' }"
                    rounded="xl"
                  >
                    Support
                  </v-btn>
                </v-card>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card class="pa-5 card-about" :style="{ 'border-color': 'black' }">
            <v-card-title>Tentang Organisasi</v-card-title>
            <v-card-text>
              <div v-html="details.tentang_organisasi"></div>
            </v-card-text>
            <v-card-actions class="d-flex justify-content-center">
              <v-btn icon>
                <v-icon>mdi-facebook</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-instagram</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-twitter</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card class="pa-5">
            <v-card-title>Aktivitas</v-card-title>
            <v-card-text>
              <!-- <v-row v-if="details.aktivitas && details.aktivitas.length > 0">
                NULL
              </v-row> -->
              <v-row v-if="aktivitas && aktivitas.length > 0">
                <v-card
                  v-for="activity in aktivitas"
                  :key="activity.id"
                  class="ma-3"
                  style="margin: 10px 5px 0px 50px"
                  max-width="300"
                  :height="360"
                >
                  <v-img
                    class="pa-5"
                    :width="300"
                    :height="200"
                    :src="activity.image.url"
                    cover
                  ></v-img>

                  <v-card-item>
                    <v-card-title
                      style="font-size: 13px; font-weight: bolder"
                      >{{ activity.judul_berita }}</v-card-title
                    >

                    <v-card-subtitle>
                      <span class="me-1">{{ activity.lokasi_provinsi }}</span>
                    </v-card-subtitle>
                  </v-card-item>

                  <div class="my-4 text-subtitle-1">
                    <v-avatar
                      v-if="
                        activity.owner.logo.url &&
                        activity.owner.logo.url != null
                      "
                      style="background-color: #ffff"
                    >
                      <img
                        class="icon"
                        :src="activity.owner.logo.url"
                        alt="Avatar"
                        cover
                    /></v-avatar>
                    <v-avatar v-else style="background-color: #ffff">
                      <img
                        v-svg-inline
                        class="icon"
                        :src="defaultIMG"
                        alt="Avatar"
                        cover
                    /></v-avatar>
                    <strong style="font-size: 14px">{{
                      activity.owner.fullname_organisasi
                    }}</strong>
                  </div>
                </v-card>
                <v-spacer></v-spacer>
              </v-row>
              <v-row v-else>
                <div class="mx-auto">
                  <img
                    v-svg-inline
                    class="icon ml-10"
                    :width="150"
                    src="../assets/icons/NoDataFound.svg"
                  />
                </div>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col cols="12">
          <v-card class="pa-5">
            <v-card-title>Product Organisasi</v-card-title>
            <v-card-text>
              <v-row v-if="product && product.length > 0">
                <v-col cols="12" v-for="list in product" :key="list.id">
                  <v-card
                    class="ma-3"
                    style="margin: 10px 5px 0px 0px"
                    max-width="250"
                  >
                    <div v-if="list.image && list.image.length > 0">
                      <v-img
                        class="pa-5"
                        :width="500"
                        :src="list.image[0].link"
                        aspect-ratio="1"
                      ></v-img>
                    </div>
                    <div v-else>
                      <img
                        v-svg-inline
                        class="icon"
                        src="../assets/icons/DefaultPhotoProduct.svg"
                        alt="Avatar"
                        cover
                      />
                    </div>
                    <v-card-item>
                      <v-card-title style="font-size: 15px">{{
                        list.judul_product
                      }}</v-card-title>
                      <v-card-subtitle>
                        <span class="me-1">{{ list.owner.provinsi }}</span>
                      </v-card-subtitle>
                    </v-card-item>
                    <v-card-text>
                      <v-row v-if="list.rating" align="center" class="mx-0">
                        <v-rating
                          :model-value="list.rating.rata"
                          color="amber"
                          density="compact"
                          size="small"
                          half-increments
                          readonly
                        ></v-rating>
                        <div class="text-grey ms-4">
                          {{ list.rating.rata }} ({{ list.rating.sum }})
                        </div>
                      </v-row>
                      <div class="my-4 text-subtitle-1">
                        <v-avatar
                          v-if="list.owner.logo && list.owner.logo.length > 0"
                          style="background-color: #ffff"
                        >
                          <img
                            class="icon"
                            :src="list.owner.logo.url"
                            alt="Avatar"
                            cover
                          />
                        </v-avatar>
                        <v-avatar v-else style="background-color: #ffff">
                          <img
                            v-svg-inline
                            class="icon"
                            :src="defaultIMG"
                            alt="Avatar"
                            cover
                          />
                        </v-avatar>
                        <strong style="font-size: 14px">{{
                          list.owner.fullname_organisasi
                        }}</strong>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row v-else>
                <div class="mx-auto">
                  <img
                    v-svg-inline
                    class="icon ml-10"
                    :width="150"
                    src="../assets/icons/NoDataFound.svg"
                  />
                </div>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
.mt-5 {
  margin-top: 40px;
}

.card-about {
  border: 5px solid black;
  border-radius: 10px;
}
@media (max-width: 703px) {
  .isMobile {
    display: block;
  }
  .isDesktop {
    display: none;
  }
}

@media (min-width: 704px) {
  .isMobile {
    display: none;
  }

  .isDesktop {
    display: block;
  }
}
@media (min-width: 400px) {
  .car-search {
    max-width: 400px;
    padding: 20px;
  }
  .search {
    max-width: 400px;
  }
  .logoIcon {
    margin-left: 50px;
  }
}
@media (max-width: 400px) {
  .car-search {
    max-width: 300px;
    padding: 20px;
  }
  .search {
    max-width: 300px;
  }
  .logoIcon {
    margin-left: 10%;
  }
}
@media (width: 300px) {
  .car-search {
    max-width: 250px;
    padding: 20px;
  }
  .search {
    max-width: 250px;
  }
  .logoIcon {
    margin-left: 0px;
  }
}
</style>
