<script>
import { ref } from "vue";
import { storeToRefs } from "pinia";
import CardDonasi from "@/components/home/CardDonasiHome.vue";
import ActivitasHome from "@/components/home/ActivitasHome.vue";
import CardProduct from "@/components/home/CardProduct.vue";
import activityStores from "@/stores/activity/activity.store";
import charityStores from "@/stores/charity/charity.store";
import productStores from "@/stores/products/products.store";
import useToastStore from "@/stores/common/toast.store";
import commonStores from "@/stores/common/common.store";

export default {
  setup() {
    const activityStore = activityStores();
    const charityStore = charityStores();
    const productStore = productStores();
    const toastStore = useToastStore();
    const commonStore = commonStores();

    const { coverState } = storeToRefs(commonStore);
    const imageCover = ref(coverState);
    const isMobile = ref(false);
    const isDesktop = ref(false);

    return {
      activityStore,
      charityStore,
      productStore,
      toastStore,
      commonStore,
      imageCover,
      coverState,
      isMobile,
      isDesktop,
    };
  },
  components: {
    CardDonasi,
    ActivitasHome,
    CardProduct,
  },
  data() {
    return {
      dataAktivitas: [],
      dataCharity: [],
      dataProduct: [],
    };
  },
  async mounted() {
    // Periksa ukuran layar saat komponen dimuat
    await this.checkScreenSize();

    // Periksa ukuran layar saat window diubah ukurannya
    window.addEventListener("resize", this.checkScreenSize);

    await this.getHomeCover();
    await this.getCharity();
    await this.getActivity();
    await this.getProduct();
  },
  async beforeUnmount() {
    // Hapus event listener saat komponen dihancurkan
    window.removeEventListener("resize", this.checkScreenSize);
  },
  methods: {
    async getHomeCover() {
      try {
        const get = await this.commonStore.getHomeCover();
        await this.commonStore.setCover(get.data.data);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      }
    },
    async getProduct() {
      try {
        const skip = 0;
        const take = 4;
        const order = true;
        const get = await this.productStore.getProducts(skip, take, order);
        const prosesData = await this.productStore.processDataProduct(
          get.data.data
        );
        this.dataProduct.push(...prosesData);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      }
    },
    async getCharity() {
      try {
        const skip = 0;
        const take = 4;
        const order = true;
        const get = await this.charityStore.getCharity(skip, take, order);
        this.dataCharity.push(...get.data.data);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      }
    },
    async getActivity() {
      try {
        const skip = 0;
        const take = 5;
        const order = true;
        const get = await this.activityStore.getCharity(skip, take, order);
        this.dataAktivitas.push(...get.data.data);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      }
    },
    async checkScreenSize() {
      // Periksa lebar layar dan atur nilai isMobile sesuai
      this.isMobile = window.innerWidth <= 703;
    },
  },
};
</script>
<template>
  <div v-if="!this.isMobile" class="isDesktop">
    <v-container fluid>
      <v-row>
        <v-carousel
          hide-delimiters
          progress="#00A2AD"
          :height="600"
          style="margin-top: 70px"
        >
          <v-carousel-item
            v-for="(item, i) in imageCover"
            :key="i"
            :src="item.url"
            cover
          >
          </v-carousel-item>
        </v-carousel>
      </v-row>
      <v-row class="mt-15">
        <div class="ma-5 pa-5">
          <h1>Donasi</h1>
        </div>
      </v-row>
      <v-row>
        <div class="mx-auto">
          <CardDonasi :data="this.dataCharity" />
        </div>
      </v-row>
      <v-row>
        <ActivitasHome :data="this.dataAktivitas" />
      </v-row>
      <v-row>
        <v-container>
          <v-card
            class="mx-auto my-8 mt-15"
            max-width="1000"
            color="#04D395"
            elevation="16"
          >
            <v-card-item>
              <v-container class="mx-auto">
                <v-row>
                  <v-col>
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/yayasan-icon.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Yayasan Valid </v-card-title>
                    <v-card-subtitle> 10 </v-card-subtitle>
                  </v-col>
                  <v-col>
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/OrganDonationIcon-black.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Jumlah Donasi </v-card-title>
                    <v-card-subtitle> 100 </v-card-subtitle>
                  </v-col>
                  <v-col>
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/GivingofDonation.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Donasi Aktif </v-card-title>
                    <v-card-subtitle> 50 </v-card-subtitle>
                  </v-col>
                  <v-col>
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/ManagementProductIcon.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Merchandise Terjual </v-card-title>
                    <v-card-subtitle> 10 </v-card-subtitle>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-item>
          </v-card>
        </v-container>
      </v-row>
      <v-row class="mt-15">
        <div class="ma-5 pa-5">
          <h1>Product</h1>
        </div>
      </v-row>
      <v-row>
        <div class="mx-auto">
          <CardProduct :data="this.dataProduct" />
        </div>
      </v-row>
    </v-container>
  </div>
  <div v-else class="isMobile">
    <v-container fluid>
      <v-row>
        <v-carousel
          hide-delimiters
          progress="#00A2AD"
          :height="200"
          style="margin-top: 70px"
        >
          <v-carousel-item
            v-for="(item, i) in imageCover"
            :key="i"
            :src="item.url"
            aspect-ratio="16/9"
          >
          </v-carousel-item>
        </v-carousel>
      </v-row>
      <v-row class="mt-15">
        <div class="ma-5 pa-5">
          <h1>Donasi</h1>
        </div>
      </v-row>
      <v-row>
        <div class="mx-auto">
          <CardDonasi :data="this.dataCharity" />
        </div>
      </v-row>
      <v-row>
        <ActivitasHome :data="this.dataAktivitas" />
      </v-row>
      <v-row>
        <v-container>
          <v-card
            class="mx-auto my-8 mt-15"
            max-width="1000"
            color="#04D395"
            elevation="16"
          >
            <v-card-item>
              <v-container class="mx-auto">
                <v-row>
                  <v-col>
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/yayasan-icon.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Yayasan<br />Valid </v-card-title>
                    <v-card-subtitle> 10 </v-card-subtitle>
                  </v-col>
                  <v-col>
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/OrganDonationIcon-black.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Jumlah<br />Donasi </v-card-title>
                    <v-card-subtitle> 100 </v-card-subtitle>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="5">
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/GivingofDonation.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Donasi<br />Aktif </v-card-title>
                    <v-card-subtitle> 50 </v-card-subtitle>
                  </v-col>
                  <v-col cols="5">
                    <img
                      v-svg-inline
                      class="icon"
                      src="../assets/icons/ManagementProductIcon.svg"
                      alt="example svg image"
                    />
                    <v-card-title> Merchandise<br />Terjual </v-card-title>
                    <v-card-subtitle> 10 </v-card-subtitle>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-item>
          </v-card>
        </v-container>
      </v-row>
      <v-row class="mt-15">
        <div class="ma-5 pa-5">
          <h1>Product</h1>
        </div>
      </v-row>
      <v-row>
        <div class="mx-auto">
          <CardProduct :data="this.dataProduct" />
        </div>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
@media (max-width: 703px) {
  .isMobile {
    display: block;
  }

  .isDesktop {
    display: none;
  }
}

@media (min-width: 704px) {
  .isMobile {
    display: none;
  }

  .isDesktop {
    display: block;
  }
}
@media (min-width: 400px) {
  .car-search {
    max-width: 400px;
  }
  .search {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .car-search {
    max-width: 300px;
  }
  .search {
    max-width: 300px;
  }
}
@media (width: 300px) {
  .car-search {
    max-width: 250px;
  }
  .search {
    max-width: 250px;
  }
}
</style>
