<script>
import { ref, computed } from "vue";
import { useVuelidate } from "@vuelidate/core";
import useToastStore from "@/stores/common/toast.store";
import {
  required,
  numeric,
  email,
  helpers,
  maxLength,
  minLength,
} from "@vuelidate/validators";
import loginStore from "@/stores/auth/login.store";
import { noSpecialCharacters } from "@/validator/index";

export default {
  setup() {
    const toastStore = useToastStore();
    const authStore = loginStore();
    const stateFormData = ref({
      fullname: "",
      email: "",
      phone: "",
      password: "",
    });
    const rules = computed(() => {
      return {
        fullname: {
          required,
          noSpecialCharacters: helpers.withMessage(
            "No Special Character Needed",
            noSpecialCharacters
          ),
        },
        email: { required, email },
        phone: { required, numeric },
        password: {
          required,
          maxLengthValue: maxLength(10),
          minLengthValue: minLength(6),
        },
      };
    });
    const v$ = useVuelidate(rules, stateFormData);

    return { toastStore, authStore, stateFormData, v$ };
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    async submit() {
      try {
        this.loading = true;
        await this.v$.$validate();
        const error = this.v$.$error;
        if (error == true) {
          alert("Gagal Validasi");
          setTimeout(() => (this.loading = false), 2000);
          return false;
        }
        const request = await this.authStore.registerUser(this.stateFormData);
        this.toastStore.httpSuccess(request);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      } finally {
        this.stateFormData.fullname = "";
        this.stateFormData.email = "";
        this.stateFormData.phone = "";
        this.stateFormData.password = "";
        setTimeout(() => (this.loading = false), 2000);
      }
    },
    async toLoginPage() {
      return this.$router.push({ name: "auth-signin", path: "/auth/signin" });
    },
  },
};
</script>
<template>
  <v-container>
    <v-row>
      <v-card
        class="mx-auto my-8 mt-10"
        color="#E6F8E6"
        max-width="700"
        elevation="16"
      >
        <v-card-item>
          <v-card-title>
            <img
              v-svg-inline
              class="icon"
              :width="300"
              :height="300"
              src="../assets/icons/AKSIRASA - LOGO no text mark.svg"
              alt="example svg image"
              style="margin-left: 70px"
            />
          </v-card-title>
          <v-container>
            <v-sheet width="400" color="transparent" class="mx-auto">
              <v-form
                validate-on="submit lazy"
                width="300"
                @submit.prevent="submit"
              >
                <div v-if="v$.fullname.$error" class="ma-5 mb-0 text-left">
                  <span
                    v-for="error in v$.fullname.$errors"
                    :key="error.$uid"
                    :style="{ color: '#DF0012' }"
                  >
                    {{ error.$message }}
                  </span>
                </div>
                <v-text-field
                  v-model="stateFormData.fullname"
                  variant="solo"
                  density="compact"
                  prepend-inner-icon="mdi-account"
                  label="Fullname"
                ></v-text-field>
                <div v-if="v$.email.$error" class="ma-5 mb-0 text-left">
                  <span
                    v-for="error in v$.email.$errors"
                    :key="error.$uid"
                    :style="{ color: '#DF0012' }"
                  >
                    {{ error.$message }}
                  </span>
                </div>
                <v-text-field
                  v-model="stateFormData.email"
                  variant="solo"
                  density="compact"
                  prepend-inner-icon="mdi-email"
                  label="Email"
                ></v-text-field>
                <div v-if="v$.phone.$error" class="ma-5 mb-0 text-left">
                  <span
                    v-for="error in v$.phone.$errors"
                    :key="error.$uid"
                    :style="{ color: '#DF0012' }"
                  >
                    {{ error.$message }}
                  </span>
                </div>
                <v-text-field
                  v-model="stateFormData.phone"
                  variant="solo"
                  density="compact"
                  prepend-inner-icon="mdi-phone"
                  label="Phone Number"
                ></v-text-field>
                <div v-if="v$.password.$error" class="ma-5 mb-0 text-left">
                  <span
                    v-for="error in v$.password.$errors"
                    :key="error.$uid"
                    :style="{ color: '#DF0012' }"
                  >
                    {{ error.$message }}
                  </span>
                </div>
                <v-text-field
                  v-model="stateFormData.password"
                  variant="solo"
                  density="compact"
                  prepend-inner-icon="mdi-lock"
                  label="Password"
                  type="password"
                ></v-text-field>
                <v-btn
                  :loading="loading"
                  type="submit"
                  block
                  rounded="xl"
                  class="mt-5"
                  text="Register"
                  :style="{ 'background-color': '#ECCA2B', color: 'white' }"
                ></v-btn>
                <v-btn
                  type="button"
                  block
                  rounded="xl"
                  class="mt-5"
                  @click="toLoginPage()"
                  text="Login"
                  :style="{ 'background-color': '#DF0012', color: 'white' }"
                ></v-btn>
              </v-form>
            </v-sheet>
          </v-container>
        </v-card-item>
      </v-card>
    </v-row>
  </v-container>
</template>
