<script>
import { reactive, computed } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import useToastStore from "@/stores/common/toast.store";
import loginStore from "@/stores/auth/login.store";
import userStores from "@/stores/user/users.store";
import router from "@/router";

export default {
  setup() {
    const authStore = loginStore();
    const toastStore = useToastStore();
    const userStore = userStores();
    const stateFormData = reactive({
      email: "",
      password: "",
    });
    const rules = computed(() => {
      return {
        email: { required, email },
        password: { required },
      };
    });
    const v$ = useVuelidate(rules, stateFormData);
    return { authStore, v$, stateFormData, toastStore, userStore };
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    async submit() {
      this.loading = true;
      await this.v$.$validate();
      const error = this.v$.$error;
      if (error == true) {
        alert("Gagal Validasi");
        setTimeout(() => (this.loading = false), 2000);
        return false;
      }
      try {
        const login = await this.authStore.getTokenServer(
          this.stateFormData.email,
          this.stateFormData.password
        );
        localStorage.setItem("token", login.data.data.access_token);
        await this.getUserInfo();
        router.go(-1);
        this.toastStore.httpSuccess(login);
        setTimeout(() => (this.loading = false), 2000);
      } catch (error) {
        if (error.isAxiosError) {
          const resTmp = error.response;
          // console.log(resTmp);
          this.toastStore.httpErrorHandler(resTmp);
        } else {
          this.toastStore.systemErrorHandler(error);
        }
      } finally {
        await this.getUserInfo();
        setTimeout(() => (this.loading = false), 2000);
      }
    },
    async getUserInfo() {
      if (this.token !== null) {
        try {
          const request = await this.userStore.getUserInfo();
          await this.userStore.setUserInfo(request.data.data);
          window.localStorage.setItem(
            "userInfo",
            JSON.stringify(request.data.data)
          );
        } catch (error) {
          if (error.isAxiosError) {
            const resTmp = error.response;
            this.toastStore.httpErrorHandler(resTmp);
            this.toastStore.removeToken(resTmp);
          } else {
            this.toastStore.systemErrorHandler(error);
          }
        }
      }
    },
    async toRegisterPage() {
      return this.$router.push({ name: "auth-signup", path: "/auth/signup" });
    },
  },
};
</script>
<template>
  <v-container>
    <v-row>
      <v-card
        class="mx-auto my-8 mt-10 card-search"
        color="#E6F8E6"
        max-width="700"
        elevation="16"
      >
        <v-card-item>
          <v-card-title>
            <img
              v-svg-inline
              class="icon"
              :width="300"
              :height="300"
              src="../assets/icons/AKSIRASA - LOGO no text mark.svg"
              alt="example svg image"
              style="margin-left: 70px"
            />
          </v-card-title>
          <v-container>
            <v-sheet width="400" color="transparent" class="mx-auto search">
              <v-form
                validate-on="submit lazy"
                width="300"
                @submit.prevent="submit"
              >
                <div v-if="v$.email.$error" class="ma-5 mb-0 text-left">
                  <span v-for="error in v$.email.$errors" :key="error.$uid">
                    {{ error.$message }}
                  </span>
                </div>
                <v-text-field
                  v-model="stateFormData.email"
                  variant="solo"
                  density="compact"
                  prepend-inner-icon="mdi-account-lock"
                  label="Email"
                ></v-text-field>
                <div v-if="v$.password.$error" class="ma-5 mb-0 text-left">
                  <span
                    v-for="error in v$.password.$errors"
                    :key="error.$uid"
                    class="text-red-500"
                  >
                    {{ error.$message }}
                  </span>
                </div>
                <v-text-field
                  v-model="stateFormData.password"
                  variant="solo"
                  density="compact"
                  prepend-inner-icon="mdi-lock"
                  label="Password"
                  type="password"
                ></v-text-field>
                <div class="text-subtitle-1 text-right">
                  <a
                    href="/forgot-password"
                    style="text-decoration: none; color: black"
                    >Forgot Password ?</a
                  >
                </div>

                <v-btn
                  :loading="loading"
                  type="submit"
                  block
                  rounded="xl"
                  class="mt-5"
                  text="Submit"
                  :style="{ 'background-color': '#DF0012', color: 'white' }"
                ></v-btn>
                <v-btn
                  type="button"
                  block
                  rounded="xl"
                  class="mt-5"
                  text="Register"
                  @click="toRegisterPage()"
                  :style="{ 'background-color': '#ECCA2B', color: 'white' }"
                ></v-btn>
              </v-form>
            </v-sheet>
          </v-container>
        </v-card-item>
      </v-card>
    </v-row>
  </v-container>
</template>
<style scoped>
@media (max-width: 500px) {
  .card-search {
    max-width: 500px;
  }
  .search {
    max-width: 500px;
  }
}
@media (min-width: 410px) {
  .card-search {
    max-width: 450px;
  }
  .search {
    max-width: 450px;
  }
}
@media (min-width: 400px) {
  .card-search {
    max-width: 400px;
  }
  .search {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .card-search {
    max-width: 300px;
  }
  .search {
    max-width: 300px;
  }
  .icon {
    margin: 0px;
  }
}
@media (width: 300px) {
  .card-search {
    max-width: 250px;
  }
  .search {
    max-width: 250px;
  }
  .icon {
    margin-right: 50px;
  }
}
</style>
