<script>
export default {
  methods: {
    async toUserOrg() {
      return this.$router.push({
        name: "yayasan-info",
        path: "/users/yayasan/yayasan-info",
      });
    },
    async toUserInfo() {
      return this.$router.push({
        name: "profile-info",
        path: "/users/profile/profile-info",
      });
    },
  },
};
</script>
<template>
  <div>
    <v-container fluid>
      <v-card>
        <v-layout>
          <v-navigation-drawer :width="250" permanent>
            <v-list density="compact" :style="{ margin: '150px 0px 0px 0px' }">
              <v-list-item
                @click="toUserInfo()"
                class="my-list-item"
                prepend-icon
              >
                <v-list-item-title>Akun Saya</v-list-item-title>
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon mr-3"
                    width="30"
                    height="30"
                    src="../assets/icons/AKSIRASA - icons- USER.svg"
                  />
                </template>
              </v-list-item>
              <v-list-item
                @click="toUserOrg()"
                prepend-icon
                class="my-list-item"
              >
                <v-list-item-title>Yayasan / Organisasi</v-list-item-title>
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon mr-2"
                    width="40"
                    height="40"
                    src="../assets/icons/AKSIRASA - icons- YAYASAN.svg"
                  />
                </template>
              </v-list-item>
              <v-list-item prepend-icon class="my-list-item">
                <v-list-item-title>Pesanan Saya</v-list-item-title>
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon mr-2"
                    width="40"
                    height="40"
                    src="../assets/icons/AKSIRASA - icons - ORDERLIST.svg"
                  />
                </template>
              </v-list-item>
              <v-list-item class="my-list-item" prepend-icon>
                <v-list-item-title>Logout</v-list-item-title>
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon mr-2"
                    width="40"
                    height="40"
                    src="../assets/icons/AKSIRASA - icons - Logout.svg"
                  />
                </template>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>
          <v-main>
            <router-view />
          </v-main>
        </v-layout>
      </v-card>
    </v-container>
  </div>
</template>
<style scoped>
.my-list-item {
  margin: 10px 0 50px 10px; /* Adjust margin as needed */
  padding-left: 16px; /* Adjust padding as needed */
}
</style>
