<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" md="3">
        <v-navigation-drawer permanent>
          <v-list>
            <v-list-item>
              <v-list-item-title>Akun Saya</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>Yayasan / Organisasi</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>Pesanan Saya</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-col>
      <v-col cols="12" md="9">
        <router-view />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ProfileTest",
};
</script>
