<script>
import { ref } from "vue";
export default {
  name: "ActivitasHome",
  props: ["data"],
  setup(props) {
    const dataAktivitas = ref(props.data);
    return { dataAktivitas };
  },
  data() {
    return {
      maxLength: 15,
      aktivitas: [],
    };
  },
  async mounted() {
    await this.prosesData(this.dataAktivitas);
  },
  methods: {
    async prosesData(data) {
      let responseData = [];
      for (let index = 0; index < data.length; index++) {
        const myDate = new Date(data[index].tanggal_post * 1000);
        const response = {
          id: data[index].id,
          judul_berita: data[index].judul_berita,
          image: data[index].image,
          lokasi_provinsi: data[index].lokasi_provinsi,
          tanggal_post: myDate.toLocaleString(),
        };
        responseData.push(response);
      }
      this.aktivitas.push(...responseData);
    },
  },
};
</script>

<template>
  <v-container>
    <v-sheet class="mx-auto mt-15" max-width="1100">
      <v-slide-group show-arrows>
        <v-slide-group-item
          v-for="activity in this.aktivitas"
          :key="activity.id"
          v-slot="{ isSelected, toggle }"
        >
          <v-card
            style="margin: 10px"
            :color="isSelected ? '#1F7087' : '#E6F8E6'"
            @click="toggle"
          >
            <div class="d-flex flex-no-wrap justify-space-between">
              <div>
                <v-card-title class="text-h5 text-truncate">
                  {{ activity.judul_berita.slice(0, maxLength) + "..." }}
                </v-card-title>

                <v-card-subtitle>{{
                  activity.lokasi_provinsi
                }}</v-card-subtitle>
                <v-card-subtitle
                  >Di Posting: {{ activity.tanggal_post }}</v-card-subtitle
                >

                <v-card-actions>
                  <v-btn class="ms-2" variant="outlined" size="small">
                    See Details
                  </v-btn>
                </v-card-actions>
              </div>

              <v-avatar class="ma-3" size="125" rounded="0">
                <v-img :src="activity.image.url"></v-img>
              </v-avatar>
            </div>
          </v-card>
        </v-slide-group-item>
      </v-slide-group>
    </v-sheet>
  </v-container>
</template>
<style>
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
