<script>
import { ref } from "vue";
export default {
  name: "CardDonasi",
  props: ["data"],
  setup(props) {
    const dataCharity = ref(props.data);

    return { dataCharity };
  },
  methods: {
    async gotoDetailCharity(id) {
      this.$router.push({
        name: "charity-detail",
        path: "charity-detail",
        params: { id },
      });
    },
  },
};
</script>
<template>
  <div class="mx-auto">
    <v-container fluid>
      <v-row>
        <v-card
          v-for="charity in this.dataCharity"
          :key="charity.id"
          class="ma-3"
          style="margin: 10px 5px 0px 50px"
          max-width="350"
        >
          <v-img
            v-if="charity.image.cover.url === null"
            @click="gotoDetailCharity(charity.id)"
            class="pa-5 imgCard"
            :width="250"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            cover
          ></v-img>
          <v-img
            v-else
            @click="gotoDetailCharity(charity.id)"
            class="pa-5"
            :width="250"
            :src="charity.image.cover.url"
            cover
          ></v-img>

          <v-card-item>
            <v-card-title
              @click="gotoDetailCharity(charity.id)"
              class="title"
              style="font-size: 15px"
              >{{ charity.fullname_organisasi }}</v-card-title
            >

            <v-card-subtitle>
              <span class="me-1">{{ charity.provinsi }}</span>
            </v-card-subtitle>
          </v-card-item>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-icon>
                <img
                  v-svg-inline
                  class="icon"
                  src="../../assets/icons/verified-icons.svg"
                  alt="Avatar"
                  cover
                />
              </v-icon>

              <div class="text-grey ms-4">Verivied by Aksirasa Tim</div>
            </v-row>
          </v-card-text>

          <!-- <v-divider class="mx-4 mb-1"></v-divider> -->

          <v-card-actions class="mb-3">
            <div class="text-center mx-auto" style="color: white">
              <v-btn
                block
                class="mx-auto pa-5 text-none"
                color="#00A2AD"
                variant="flat"
                rounded="lg"
                size="small"
                prepend-icon
                dark
                @click="gotoDetailCharity(charity.id)"
              >
                <template v-slot:prepend>
                  <img
                    v-svg-inline
                    class="icon"
                    width="20"
                    height="20"
                    src="../../assets/icons/OrganDonationIcon.svg"
                  />
                </template>
                Donasi Sekerang
              </v-btn>
            </div>
          </v-card-actions>
        </v-card>
        <v-spacer></v-spacer>
      </v-row>
    </v-container>
  </div>
</template>
<style scoped>
.title:hover {
  cursor: pointer;
}
</style>
