<script>
import { ref } from "vue";
export default {
  name: "CardProduct",
  props: ["data"],
  setup(props) {
    const dataProduct = ref(props.data);

    return { dataProduct };
  },
  data: () => ({
    img: require("@/assets/icons/AKSIRASA-LOGO.svg"),
  }),
};
</script>
<template>
  <div class="mx-auto">
    <v-container fluid>
      <v-row>
        <v-card
          v-for="product in this.dataProduct"
          :key="product.id"
          class="ma-3"
          style="margin: 10px 5px 0px 50px"
          max-width="350"
        >
          <div v-if="product.image.length > 0">
            <v-img
              class="pa-5"
              width="250"
              :src="product.image[0].link"
              aspect-ratio="1"
            ></v-img>
          </div>
          <div v-else>
            <img
              v-svg-inline
              class="icon"
              :width="250"
              :height="250"
              src="../../assets/icons/DefaultPhotoProduct.svg"
              alt="Avatar"
              aspect-ratio="1"
            />
          </div>

          <v-card-item>
            <v-card-title style="font-size: 15px">{{
              product.judul_product
            }}</v-card-title>

            <v-card-subtitle>
              <span class="me-1">{{ product.owner.provinsi }}</span>
            </v-card-subtitle>
          </v-card-item>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :model-value="product.rating.rata"
                color="amber"
                density="compact"
                size="small"
                half-increments
                readonly
              ></v-rating>

              <div class="text-grey ms-4">
                {{ product.rating.rata }} ({{ product.rating.sum }})
              </div>
            </v-row>

            <div class="my-4 text-subtitle-1">
              <v-avatar
                v-if="product.owner.logo.length > 0"
                style="background-color: #ffff"
              >
                <img
                  v-svg-inline
                  class="icon"
                  :src="product.owner.logo"
                  alt="Avatar"
                  cover
              /></v-avatar>
              <v-avatar v-else style="background-color: #ffff">
                <img v-svg-inline class="icon" :src="img" alt="Avatar" cover
              /></v-avatar>
              <strong style="font-size: 14px">{{
                product.owner.fullname_organisasi
              }}</strong>
            </div>
          </v-card-text>
        </v-card>
        <v-spacer></v-spacer>
      </v-row>
    </v-container>
  </div>
</template>
