<script>
export default {
  name: "FooterBar",
  data: () => ({
    icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
    isMobile: false,
  }),
  async mounted() {
    // Periksa ukuran layar saat komponen dimuat
    await this.checkScreenSize();

    // Periksa ukuran layar saat window diubah ukurannya
    window.addEventListener("resize", this.checkScreenSize);
  },
  beforeUnmount() {
    // Hapus event listener saat komponen dihancurkan
    window.removeEventListener("resize", this.checkScreenSize);
  },
  methods: {
    async checkScreenSize() {
      // Periksa lebar layar dan atur nilai isMobile sesuai
      this.isMobile = window.innerWidth <= 703;
    },
    async goRegisterORG() {
      return this.$router.push({
        name: "register-yayasan",
        path: "/auth/regist",
      });
    },
  },
};
</script>
<template>
  <div v-if="!isMobile" class="isDesktop">
    <v-container
      class="d-flex w-100 px-4 pa-10 mt-10"
      style="background-color: hsl(184, 100%, 34%)"
      dense
      dark
      fluid
    >
      <v-card color="transparent" style="box-shadow: initial">
        <v-card-item max-width="300" class="mx-auto">
          <img
            v-svg-inline
            class="icon"
            :width="300"
            :height="300"
            src="../assets/icons/AKSIRASA-LOGO.svg"
            alt="example svg image"
            aspect-ratio="16/9"
            cover
          />
        </v-card-item>
        <v-card-text class="text-center">
          <h4>Mempertemukan antara Donatur</h4>
          <h4>dengan pihak yang butuh pertolongan</h4>
        </v-card-text>
      </v-card>
      <v-spacer></v-spacer>
      <v-card color="#E6F8E6" dark max-width="700">
        <v-card-item>
          <v-container>
            <v-row>
              <v-col cols="3">
                <img
                  v-svg-inline
                  class="icon mt-16"
                  :width="200"
                  :height="200"
                  src="../assets/icons/handcover.svg"
                  alt="example svg image"
                />
              </v-col>
              <v-col>
                <div class="mx-auto pa-12 ma-10">
                  <v-card-title> AYO DAFTARKAN ORGANISASI ANDA </v-card-title>
                  <v-card-text
                    >Kami membuka kesempatan bagi anda atau organisasi anda yang
                    sedang memerlukan bantuan pertolongan, anda bisa
                    mendaftarkan yayasan anda atau organisasi anda untuk bisa di
                    jangkau dengan donatur seluruh indonesia</v-card-text
                  >
                  <div class="mt-10">
                    <v-btn
                      :style="{ 'background-color': '#DF0012', color: 'white' }"
                      block
                      @click="goRegisterORG()"
                      >Start</v-btn
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-item>
      </v-card>
    </v-container>
  </div>
  <div v-else>
    <v-container
      class="w-100 px-4 pa-10 mt-10"
      style="background-color: hsl(184, 100%, 34%)"
      dense
      dark
      fluid
    >
      <v-row>
        <div class="mx-auto">
          <v-card color="transparent" style="box-shadow: initial">
            <v-card-item max-width="300" class="mx-auto">
              <img
                v-svg-inline
                class="icon"
                :width="300"
                :height="300"
                src="../assets/icons/AKSIRASA-LOGO.svg"
                alt="example svg image"
                aspect-ratio="16/9"
                cover
              />
            </v-card-item>
            <v-card-text class="text-center">
              <h4>Mempertemukan antara Donatur</h4>
              <h4>dengan pihak yang butuh pertolongan</h4>
            </v-card-text>
          </v-card>
        </div>
      </v-row>
      <v-row class="mt-10">
        <v-card color="#E6F8E6" dark max-width="700">
          <v-card-item>
            <v-container>
              <v-row>
                <img
                  v-svg-inline
                  class="icon mt-16 mx-auto"
                  :width="200"
                  :height="200"
                  src="../assets/icons/handcover.svg"
                  alt="example svg image"
                />
              </v-row>
              <div class="mx-auto text-center">
                <v-card-title style="font-size: 17px">
                  AYO DAFTARKAN ORGANISASI ANDA
                </v-card-title>
                <v-card-text style="font-size: 13px"
                  >Kami membuka kesempatan bagi anda atau organisasi anda yang
                  sedang memerlukan bantuan pertolongan, anda bisa mendaftarkan
                  yayasan anda atau organisasi anda untuk bisa di jangkau dengan
                  donatur seluruh indonesia</v-card-text
                >
                <div class="mt-10">
                  <v-btn
                    :style="{ 'background-color': '#DF0012', color: 'white' }"
                    block
                    @click="goRegisterORG()"
                    >Start</v-btn
                  >
                </div>
              </div>
            </v-container>
            <!-- <v-container>
              <v-row>
                <v-col cols="3">
                  <img
                    v-svg-inline
                    class="icon mt-16"
                    :width="200"
                    :height="200"
                    src="../assets/icons/handcover.svg"
                    alt="example svg image"
                  />
                </v-col>
                <v-col>
                  <div class="mx-auto pa-12">
                    <v-card-title style="font-size: 17px">
                      AYO DAFTARKAN ORGANISASI ANDA
                    </v-card-title>
                    <v-card-text style="font-size: 13px"
                      >Kami membuka kesempatan bagi anda atau organisasi anda
                      yang sedang memerlukan bantuan pertolongan, anda bisa
                      mendaftarkan yayasan anda atau organisasi anda untuk bisa
                      di jangkau dengan donatur seluruh indonesia</v-card-text
                    >
                    <div class="mt-10">
                      <v-btn block>Block Button</v-btn>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container> -->
          </v-card-item>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>
/* CSS dalam file komponen Vue */
<style scoped>
/* .v-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
} */
@media (max-width: 703px) {
  .isMobile {
    display: block;
  }

  .isDesktop {
    display: none;
  }
}

@media (min-width: 704px) {
  .isMobile {
    display: none;
  }

  .isDesktop {
    display: block;
  }
}
</style>
