<script>
import { ref } from "vue";
import userStores from "@/stores/user/users.store";

export default {
  name: "NavBar",
  setup() {
    const userStore = userStores();
    const userInfo = ref(JSON.parse(localStorage.getItem("userInfo")));
    const image = ref("");
    const token = ref(localStorage.getItem("token"));
    return { userStore, userInfo, token, image };
  },
  data() {
    return {
      drawer: false,
      isMobile: false,
    };
  },
  async mounted() {
    console.log(this.userInfo);
    await this.setbgImage;
    // Periksa ukuran layar saat komponen dimuat
    await this.checkScreenSize();

    // Periksa ukuran layar saat window diubah ukurannya
    window.addEventListener("resize", this.checkScreenSize);
  },
  beforeUnmount() {
    // Hapus event listener saat komponen dihancurkan
    window.removeEventListener("resize", this.checkScreenSize);
  },
  methods: {
    async setbgImage() {
      return (this.image = this.userInfo.profile.url);
    },
    async toLoginPage() {
      return this.$router.push({ name: "auth-signin", path: "/auth/signin" });
    },
    async toHomePage() {
      return this.$router.push({ name: "mainhome", path: "/" });
    },
    async toProductPage() {
      return this.$router.push({
        name: "product-catalog",
        path: "/product/catalog",
      });
    },
    async toCharityPage() {
      return this.$router.push({
        name: "charity-catalog",
        path: "/charity/catalog",
      });
    },
    async toActivityPage() {
      return this.$router.push({
        name: "activity-catalog",
        path: "/activity/catalog",
      });
    },
    async toUserInfo() {
      return this.$router.push({
        name: "profile-info",
        path: "/users/profile-info",
      });
    },
    async checkScreenSize() {
      // Periksa lebar layar dan atur nilai isMobile sesuai
      this.isMobile = window.innerWidth <= 703;
    },
  },
};
</script>
<template>
  <div v-if="!isMobile" class="isDesktop">
    <v-app-bar dense color="#00A2AD" dark>
      <!-- <div class="navbar"> -->
      <v-toolbar-title>
        <img
          v-svg-inline
          class="icon ml-10"
          max-height="150"
          src="../assets/icons/AksirasaLogo.svg"
        />
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <div class="align-center justify-center mr-5">
        <v-btn @click="toHomePage()" text>HOME</v-btn>
        <v-btn @click="toProductPage()" text>PRODUCT</v-btn>
        <v-btn @click="toCharityPage()" text>CHARITY</v-btn>
        <v-btn @click="toActivityPage()" text>ACTIVITY</v-btn>
        <v-btn text>CONTACT</v-btn>
      </div>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <div v-if="token !== null">
        <v-avatar @click="toUserInfo()" class="mr-5" color="surface-variant">
          <div v-if="userInfo != null">
            <v-img
              v-if="userInfo.profile.url !== null"
              alt="Avatar"
              :src="userInfo.profile.url"
            ></v-img>
            <img
              v-else
              v-svg-inline
              class="icon mt-1"
              :width="56"
              aspect-ratio="16/9"
              src="../assets/icons/DefaultPP.svg"
              alt="example svg image"
            />
          </div>
        </v-avatar>
      </div>
      <v-btn
        v-else
        class="mr-5"
        color="#DF0012"
        @click="toLoginPage()"
        variant="flat"
        rounded
      >
        Login
      </v-btn>
    </v-app-bar>
  </div>
  <div v-else class="isMobile">
    <v-app-bar dense color="#00A2AD" dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <img
          v-svg-inline
          class="icon mt-2"
          max-height="150"
          src="../assets/icons/AksirasaLogo.svg"
        />
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <div v-if="token !== null">
        <v-avatar @click="toUserInfo()" class="mr-5" color="surface-variant">
          <div v-if="userInfo != null">
            <v-img
              v-if="userInfo.profile.url !== null"
              alt="Avatar"
              class="mt-1"
              aspect-ratio="16/9"
              :width="56"
              :src="userInfo.profile.url"
            ></v-img>
            <img
              v-else
              v-svg-inline
              class="icon mt-1"
              :width="56"
              aspect-ratio="16/9"
              src="../assets/icons/DefaultPP.svg"
              alt="example svg image"
            />
          </div>
        </v-avatar>
      </div>
      <v-btn
        v-else
        class="mr-5"
        color="#DF0012"
        @click="toLoginPage()"
        variant="flat"
        rounded
      >
        Login
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" location="top" temporary>
      <v-list>
        <v-list-item @click="toHomePage()">
          <v-list-item-title>HOME</v-list-item-title>
        </v-list-item>
        <v-list-item @click="toProductPage()">
          <v-list-item-title>PRODUCT</v-list-item-title>
        </v-list-item>
        <v-list-item @click="toCharityPage()">
          <v-list-item-title>CHARITY</v-list-item-title>
        </v-list-item>
        <v-list-item @click="toActivityPage()">
          <v-list-item-title>ACTIVITY</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title>CONTACT</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
/* CSS dalam file komponen Vue */
<style scoped>
@media (max-width: 703px) {
  .isMobile {
    display: block;
  }

  .isDesktop {
    display: none;
  }
}

@media (min-width: 704px) {
  .isMobile {
    display: none;
  }

  .isDesktop {
    display: block;
  }
}
</style>
