<script>
import useToastStore from "@/stores/common/toast.store";
import { computed } from "vue";
export default {
  name: "AlertToastNew",
  setup() {
    const toastStore = useToastStore();
    const toast = computed(() => {
      return toastStore.getToast;
    });
    return { toastStore, toast };
  },
  created() {
    this.toastStore.GreetingCustomer();
  },
};
</script>
<template>
  <v-app>
    <div>
      <router-view />
      <Transition name="bounce">
        <div>
          <v-snackbar
            v-model="toast.show"
            :timeout="toast.setTimeout === 0 ? 20000 : toast.setTimeout"
            :color="toast.type.type"
            position="relative"
          >
            <div class="mx-auto text-center">
              <h4>
                <v-icon>{{ toast.type.icons }}</v-icon
                >{{ toast.type.title }}
              </h4>
              <span> {{ toast.type.message }} </span>
            </div>
            <v-btn
              v-if="toast.setTimeout === 0"
              class="ml-2"
              color="#fff"
              text
              density="compact"
              @click="toast.show = false"
              >close</v-btn
            >
          </v-snackbar>
        </div>
      </Transition>

      <!-- <v-alert
      :type="toast.type.type"
      :title="toast.type.title"
      border="start"
      closable
      close-label="Close Alert"
      variant="tonal"
      dense
      outlined
      prominent
      class="toast"
      :value="toast.type.show"
    >
      {{ toast.type.message }}
    </v-alert> -->
    </div>
  </v-app>
</template>

<style scoped>
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
</style>
