<script>
import NavBar from "@/components/NavBar.vue";
import FooterBar from "@/components/FooterBar.vue";
import socket from "@/plugins/socketio/websockets";
export default {
  components: {
    NavBar,
    FooterBar,
  },
  mounted() {
    socket.connect();
  },
};
</script>
<template>
  <v-app>
    <NavBar />
    <v-main>
      <router-view />
    </v-main>
    <FooterBar />
  </v-app>
</template>
